# Núcleo
streamlit==1.48.0
pandas==2.3.1
numpy==2.3.2
plotly==5.22.0
matplotlib==3.10.5
wordcloud==1.9.4
pillow==11.3.0
pyarrow==21.0.0
pydeck==0.9.1

# Utilidades comunes
altair==5.5.0
requests==2.32.4
tqdm==4.67.1
python-dateutil==2.9.0.post0
pytz==2025.2
typing_extensions==4.14.1
packaging==24.2
regex==2025.7.34

# Sklearn si la usas para alguna métrica (entropía, etc.)
scikit-learn==1.7.1
scipy==1.16.1
threadpoolctl==3.6.0
joblib==1.5.1

# (Opcionales) si realmente los usas en otros lados
beautifulsoup4==4.13.4
watchdog==6.0.0
PyYAML==6.0.2